<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About page</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/responsive.css">
	 <link rel="stylesheet" href="css/aboutpage.css">
	 <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="images/channels4_profile.jpg" type="image/jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  
</head>

<body>
  {{>navbar}}
  <br><br><br><br><br>
  <div class="about-content">
    <div class="column left">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="column right">
      <div class="text"> TECHI SUPPORT <span class="typing">free</span><span
          class="typed-cursor typed-cursor--blink">|</span><span class="typing">sourcecode</span>
		  <span
          class="typed-cursor typed-cursor--blink">|</span><span class="typing">videos</span>
		  </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, unde.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, unde.
      </p>
      <a href="#" style="text-decoration: none;">Visit channel</a>
    </div>
  </div>
  <br><br><br>
  {{>Advertisement}}
  <div class="diffSection" id="team_section">
		<center>
			<p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">We're the Creators</p>
		</center>
		  <div class="csec"></div>
		<div class="totalcard">
			<div class="card">
				<center><img src="/images/brijesh.jpg"></center>
				<center>
					<div class="card-title">Brijesh singh</div>
					<div id="detail">
						<p>“ Lorem ipsum dolor sit amet consectetur adipisicing elit. In, fugit.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, iusto.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, eveniet? “</p>
						<div class="duty"></div>
						<a href=""><button class="btn-brijesh">Follow
								+</button></a>
					</div>
				</center>
			</div>
      	<div class="card">
				<center><img src="/images/ash.jpg"></center>
				<center>
					<div class="card-title">Ashwani Kumar</div>
					<div id="detail">
						<p>“ Hey foks my self ashwani kumar currently completing my graduation in b.tech with computer
							science affilation in MMMUT gorakhpur. I have created this website for studens who are
							looking for free content.. “</p>
						<div class="duty"></div>
						<a href="https://www.instagram.com/ashwanikumar0507/"><button class="btn-ashwani">Follow
								+</button></a>
					</div>
				</center>
			</div>
			<div class="card">
				<center><img src="/images/logo.png"></center>
				<center>
					<div class="card-title">group</div>
					<div id="detail">
						<p>“ Real education should consist of drawing the goodness and the best out of our own students.
							What better books can there be than the book of humanity" Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Ex, aliquam.</p>
						<div class="duty"></div>
						<a href="https://www.linkedin.com/in/ashwani-kumar-98910923b"><button class="btn-brijesh">Follow
								+</button></a>
					</div>
				</center>
			</div>
		</div>
	</div>

  {{>bottom}}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>

</html>