<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video page</title>
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/responsive.css">
	 <link rel="stylesheet" href="css/aboutpage.css">
	 <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/channels4_profile.jpg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {{>navbar}}

    <br><br><br><br><br><br>
    <h1>C/C++</h1>
    <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum nesciunt autem quis repudiandae, veritatis quo
        inventore molestiae illo sed ratione ad obcaecati ipsam quisquam repellat? Rerum tempora maxime consectetur cum
        quod
        quas totam perferendis, eius sed explicabo unde exercitationem fugiat dolorum eum quasi perspiciatis minima iste
        sunt molestias aut doloremque adipisci praesentium natus fuga. Sapiente rerum voluptates veniam qui temporibus
        repellat accusamus, similique tenetur esse animi, maiores dolores explicabo totam officiis dolorem assumenda id
        autem facilis debitis odit molestias? In porro neque molestias culpa minima cum, natus aliquid non soluta,
        architecto eum placeat, fuga dolorem odit quae sint eos.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias praesentium, perferendis, laudantium
        cupiditate obcaecati inventore repellendus aperiam officiis cumque ex nesciunt enim similique ipsum nihil maxime
        voluptatum explicabo, harum consectetur. Dolorum praesentium dolor voluptatem dolores quia facere, temporibus
        tempora aspernatur? Sapiente molestiae non ut dolorum aliquid doloribus velit, in amet voluptatibus, itaque
        facere numquam tenetur ea similique excepturi deserunt eos expedita vel architecto labore, sunt assumenda
        deleniti laborum possimus? Veritatis mollitia maxime, qui sapiente expedita cum ullam consequuntur quas. Ab eius
        ratione nemo quibusdam earum totam harum cum dolore ipsa quaerat laudantium cumque beatae, temporibus tempora
        quam eum quisquam. Corporis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aliquam tempora rerum neque porro obcaecati
        soluta, at, dolore placeat vitae enim quae consectetur atque facilis, non perspiciatis omnis qui aperiam
        corporis maxime sed laborum molestias? Nobis, perferendis consectetur. Vero sunt nulla illum quo veritatis
        voluptatibus molestias enim voluptatum. Vel dolor quaerat in sit corporis corrupti tempora quasi officia,
        aliquam amet. Sint nam praesentium autem a suscipit debitis minima tempora aperiam doloremque consequuntur
        aliquid, voluptate, ipsam sapiente voluptas sunt veritatis rerum reiciendis placeat incidunt harum
        exercitationem temporibus culpa modi! Nostrum magni non necessitatibus amet fugit quae natus itaque, modi quo
        odit veniam doloremque quisquam iure dolores architecto. Adipisci neque reprehenderit accusamus, veritatis quae
        perspiciatis exercitationem similique. Hic cumque nemo delectus, quidem vel ratione libero magnam debitis
        eveniet qui aliquam ad non quibusdam sapiente quis praesentium repellendus voluptate sed consequatur eum
        perferendis natus expedita. Sint ipsa beatae atque voluptatem quod vel! Commodi, beatae ratione quisquam vero
        voluptatem rem a ut illo. Ea saepe ex dolorum ipsum illo quasi porro nemo, praesentium velit aperiam
        perspiciatis quis ratione blanditiis recusandae beatae reiciendis deleniti, eos ullam. Optio veritatis modi
        delectus dolore, sequi eos expedita voluptatibus eveniet? Officia nobis neque aperiam architecto, maxime
        voluptatibus ipsa minus.
    </h2>
    {{>bottom}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>