<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Sheet</title>
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/responsive.css">
	 <link rel="stylesheet" href="css/aboutpage.css">
	 <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/channels4_profile.jpg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <style>
            .sheet-name{
                text-align: center;
            }
            .topic-name{
                font-size: 30px;
            }
            .DSAquestionlinks{
                text-align: center;
            }
            .DSAquestionlinks ol{
                list-style: none;
            }
             .DSAquestionlinks ol li a{
                
                text-decoration: none;
                
            }
   table{
    width:60vw;
   }
   tr{
    border:2px solid red;
     text-align:center;
   }
   .sn{
    border:2px solid red; 
    width:33px;
     text-align:center;
   }
   .name{
    border:2px solid red;
     width:40vw;
      text-align:center;
   }
   .status{
    border:2px solid red;
     width:60px;
      text-align:center;
   }
   .solve{
    border:2px solid red;
     width:60px;
      text-align:center;
   }

        </style>
</head>

<body>
    {{>navbar}}
    <br><br><br><br><br><br>
    <h1 class="sheet-name">DSA Sheet By TECHI SUPPORT </h1>
       <table style="width:60vw;">
        <tr style="border:2px solid red; text-align:center;">
            <th style="border:2px solid red; width:33px; text-align:center;"  class="sn">sn</trh>
            <th style="border:2px solid red; width:40vw; text-align:center;" class="name">name</th>
            <th style="border:2px solid red; width:60px; text-align:center;" class="status">status</th>
            <th style="border:2px solid red; width:60px; text-align:center;" class="solve">solve</th>
        </tr>
        <tr>
            <td class="sn">1</td>
            <td class="name">Two Sum</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/two-sum/">Solve</a> </button></td>
        </tr>
         <tr>
            <td class="sn">2</td>
            <td class="name">Unique Number of Occurrences</td>
            <td class="status">Easy</td>
            <td class="solve"><button><a href="https://leetcode.com/problems/unique-number-of-occurrences/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">3</td>
            <td class="name">Remove Duplicates from Sorted Array</td>
            <td class="status">Easy</td>
            <td class="solve"><button>  <a href="https://leetcode.com/problems/remove-duplicates-from-sorted-array/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">4</td>
            <td class="name">Remove Element</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/remove-element/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">5</td>
            <td class="name">Plus One</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/plus-one/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">6</td>
            <td class="name">Best Time to Buy and Sell Stock</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">7</td>
            <td class="name">Majority Element</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/majority-element/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">8</td>
            <td class="name">Move Zeroes</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/move-zeroes/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">9</td>
            <td class="name">Find All Numbers Disappeared in an Array</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/find-all-numbers-disappeared-in-an-array/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">10</td>
            <td class="name">Max Consecutive Ones</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/max-consecutive-ones/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">11</td>
            <td class="name">Array Partition</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/array-partition/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">12</td>
            <td class="name">Distribute Candies</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/distribute-candies/">Solve</a></button></td>
        </tr>
         <tr>
            <td class="sn">13</td>
            <td class="name">harmonious-subsequence</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/longest-harmonious-subsequence/">Solve</a></button></td>
        </tr>
        <tr>
            <td class="sn">14</td>
            <td class="name">Baseball Game</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/baseball-game/">Solve</a></button></td>
        </tr>
        <tr>
            <td class="sn">15</td>
            <td class="name">Largest Triangle Area</td>
            <td class="status">Easy</td>
            <td class="solve"><button> <a href="https://leetcode.com/problems/largest-triangle-area/">Solve</a></button></td>
        </tr>
       </table>
    {{>bottom}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>