<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video page</title>
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/responsive.css">
	 <link rel="stylesheet" href="css/aboutpage.css">
	 <link rel="stylesheet" href="css/footer.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="shortcut icon" href="images/channels4_profile.jpg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    {{>navbar}}

    <br><br><br><br><br><br> 
       <h2 class="h2">50+ JavaScript Project For Beginner and Intermediate</h2>
     
   <div class="pairvideo">
    {{>box1  src = "images/greeting.png" href="https://youtu.be/GRhNEHwNM8c"  ProjectName="Greeting with time" codesrc="../templates/views/sourceCode/greeting"}}
    {{>box1 src = "images/amazingcircle.png"  href="https://youtu.be/SqDRP594bUk" ProjectName="Amazing Moving Circle" codesrc="../templates/views/sourceCode/movingcircle"}}
    {{>box1 src = "images/searchImages.png" href="https://youtu.be/vuXw1_43WII" ProjectName="Search Images Online" codesrc="../templates/views/sourceCode/searchimage"}}
     {{>box1 src = "images/wallClock.png" href="https://youtu.be/clurNcetLfM" ProjectName="Analog Clock"}}
    {{>box1 src = "images/sumValidator.png" href="https://youtu.be/mpFMLzPMc3A" ProjectName="Sum Validator"}}
    {{>box1 src = "images/balloonpopping.png" href="https://youtu.be/u7W2QJBE600" ProjectName="Popping Balloon Game"}}
    {{>box1 src = "images/ferrisWheel.png" href="https://youtu.be/9rwyaEu_lr0" ProjectName="Ferries Wheel"}}
</div>
  

  {{!-- // Advertisement --}}
  {{>Advertisement src ="#"}}
  
  <div class="pairvideo">
    {{>box1 src = "images/expandingCards.png" href="https://youtu.be/kiuDKU5aq5w" ProjectName="Expanding Cards"}}
    {{>box1 src = "images/squareMoving.png" href="https://youtu.be/5oMJBg6p688" ProjectName="Amzing Moving Square"}}
    {{>box1 src = "images/Hoverboard.png" href="https://youtu.be/DqsKlP-tbsw" ProjectName="HoverBoard "}}
     {{>box1 src = "images/divMove.png" href="https://youtu.be/CybVnIdpvwU" ProjectName="Div Move With Cursor"}}
    {{>box1 src = "images/Wave.png" href="https://youtu.be/z2-PCaoHxjk"ProjectName="Amzing CSS Wave"}}
    {{>box1 src = "images/diya.png" href="https://youtu.be/28YQSWZmjdI" ProjectName="Diwali Diya Project"}}
    {{>box1 src = "images/greeting.png" href=""}}
</div>
    {{!-- {{>box1}} --}}
      {{>Advertisement src ="#"}}
     {{>bottom}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>