<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>INDEX PAGE</title>
</head>

<body>

    {{>navbar}}

    <!--  main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

      
       <div class="tempInformation">
        <div class="top_layer">
            <p id="day"> Tuesday</p>
            <p id="today_date"> <span id="today_date1">4 &nbsp;</span> <span id="month">  OCT</span> </p>
        </div>
        <div class="main_layer">
           <p id="city_name">Get The Output Here  </p>
           <div class="middle_layer data_hide">
            <p id="temp"> <span id="val"></span>  <sup id="sup"></sup> <span id="C"></span> </p>
            <p id="temp_status">
             {{!-- <i class="fa fa-cloud"></i> --}}
            </p>
           </div>
        </div>
       </div>

            </div>
        </div>
    </div>
    {{>footer}}


<script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>