{{!-- <footer>
		<div class="footer-container">
			<div class="left-col">
				<img src="footer.png" style="width: 200px;">
				<div class="logo"></div>
				<div class="social-media">
					<a href="#"><img src="R (1).jfif"></a>
					<a href="#"><img src="OIP.jfif"></a>
					<a href="#"><img src="R.png"></a>
					<a href="https://www.youtube.com/channel/UCi5CK0wzipJq6VpIACQZbcw" target="_blank"><img
							src="yout.jfif"></a>
					<a href="#"><img src="link.png"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2022 Created By ashwani kumar|| All Rights Reserved.</p>
				<br>
				<p><img src="mmmut.jfif"> Mohan Madan Malviya University of technology<br>gorakhpur, up-273008</p><br>
				<p><img src="phone.png"> +91-9983327707<br><img src="emai.png">&nbsp; ashwanikumar01011997123@gmail.com
				</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Our Newsletter</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to get our News and updates.</p>
				<form class="newsletter-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
				<input class="btn" type="submit" value="Submit">
				</form>
			</div>
			</div>
			</footer>
		 --}}


		 
  <footer>
    <div class="footer-container">
      <div class="left-col">
      <!-- //  <img src="footer.png" style="width: 100px;"> -->
        <div class="logo"></div>
        <div class="social-media">
          <a href="#"><i class="fa fa-telegram" style="font-size:48px;color:red"></i></a>
          <a href="#"><i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i></a>
          <a href="#"><i class="fa fa-instagram" style="font-size:48px;color:red"></i></a>
          <a href="" target="_blank"><i class="fa fa-youtube-play" style="font-size:48px;color:red"></i></a>
          <a href="" target="_blank"><i class="fa fa-facebook-f" style="font-size:48px;color:red"></i></a>
         
        </div><br><br>
      </div>
      <!-- <div class="middle">
        <h4 style="color: white;">links</h4>
      </div> -->
      <div class="right-col">
        <h1 style="color: #fff">Our Newsletter</h1>
        <div class="border"></div><br>
        <p>Enter Your Email to get our News and updates.</p>
        <form class="newsletter-form">
          <input class="txtb" type="email" placeholder="Enter Your Email">
          <input class="btn" type="submit" value="Submit">
        </form>
      </div>
      </div>
    </footer>