 <section class="Contact_section">
        <p class="contactpara">Contact Us </p>
        <div class="sociallink">
       <a href="https://www.youtube.com/@techisupport"> <i class="fa fa-youtube-play" style="font-size:48px;color:red"></i></a>
       <a href=""><i class="fa fa-instagram" style="font-size:48px;color:red"></i></a> 
       <a href="">  <i class="fa fa-facebook" style="font-size:48px;color:red"></i></a> 
        <a href=""> <i class="fa fa-twitter" style="font-size:48px;color:red"></i></a> 
          <a href=""> <i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i></a> 
            <a href="https://t.me/webprojecttop"> <i class="fa fa-telegram" style="font-size:48px;color:red"></i></a> 
      </div>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis impedit nihil quibusdam ipsa? Sed, laudantium ipsum? Sunt culpa 
        odit voluptatum dicta tempora architecto sed similique officiis eligendi minus, veritatis sapiente tenetur dolore aut ab eveniet, 
        saepe ratione illo harum ipsum assumenda quidem enim consectetur non. Delectus alias rerum architecto aliquam!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vero asperiores tenetur quis atque consectetur ipsa esse doloremque 
       omnis ea ab ullam deserunt rerum recusandae sequi earum, quibusdam itaque quo. Ducimus similique excepturi repellat autem numquam 
       repudiandae nihil quaerat doloribus provident? Vero qui velit delectus sequi, minus ipsa nobis repudiandae!
      </p>
       </section>