

<div class="videoboxall">
    <img src={{src}} alt="" class="Boximg"> <br> 
    <p class="box1_para">{{ProjectName}}</p> <br>
   <a href={{href}} class="box1href"><button class="box1btn" >Video </button></a>  <br> <br>
   <a href={{codesrc}}><button class="box1btn">Source Code </button></a> 
</div> 