
   <div class="navbarMain">
   
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" style="color:white;"><span style="font-weight: bolder; color: white; text-decoration: solid;">TECHI</span> <span style="color: rgb(235, 231, 12);">SUPPORT</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
                <a class="nav-link" href="/index.html" style="color:white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about" style="color:white;">About</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/video" style="color:white;">JavaScript</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/C_CPP" style="color:white;">C/C++</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/DSASheet" style="color:white;">DSA Sheet</a>
              </li>
                {{!-- <li class="nav-item">
                <a class="nav-link" href="/JAVA" style="color:white;">JAVA</a>
              </li> --}}
               <li class="nav-login" >
                <a class="nav-link" href="/login"><button class="navBtn" style="color:white;">Get started</button></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>