.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .about-content .left {
    width: 40%;
  }

  .about-content .left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 208px;
  }

  .about-content .right {
    width: 60%;
  }

  .about-content .right .text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .about-content .right .text span {
    color: rgb(31, 10, 56);
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .about-content .right p {
    text-align: justify;
  }

  .about-content .right a {
    display: inline-block;
    background: linear-gradient(to right, red, yellow);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .about-content .right a:hover {
    color: black;
    background: none;
    border-radius: 40px;
  }

  .about-content {
    background: url(/images/back3.avif);
    /* background-image: url('/images/back3.avif'); */
    /* background: rgb(198, 20, 20); */
  }


.totalcard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.totalcard .card {
  margin: 50px;
  width: 300px;
  border-radius: 10px;
  background: #fff;
}
.totalcard .card{
  box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
                  0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
  border-top: 5px solid green;
}
.card:nth-child(2){
  border-top: 5px solid blue;
}
.card:nth-child(3){
  border-top: 5px solid rgb(239, 243, 9);
}
.card:nth-child(1):hover {
  box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
              1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
  box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
              1px 1px 30px rgba(0,0,255,0.5);
}
.card:nth-child(3):hover {
  box-shadow: inset 0px 0px 10px rgba(208, 255, 0, 0.5),
              1px 1px 30px rgba(240, 217, 11, 0.5);
}
.totalcard .card img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 50px;
  transition-duration: .8s;
}
.totalcard .card img:hover {
  transform: scale(3);
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#detail p{
  font-size: 15px;
  line-height: 25px;
  font-variant: small-caps;
  text-align: center;
  margin: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#detail button {
  outline: none;
display: flex;
padding: 0 0 10px 0;

align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  /* background: linear-gradient(to right, red, yellow); */
  padding: 9px 25px;
  cursor: pointer;
  transition-duration: .4s;
}
#detail a {
  bottom: 80px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 90px;
  align-self: center;
}
.btn-ashwani:hover {
  background: linear-gradient(to right, #4209e0, aqua);
  color: #fff;
}
.btn-brijesh:hover {
  background: linear-gradient(to right, #4209e0, aqua);
  color: #fff;
}
.card-title {
  font-size: 17px;
  color: #343A40;
  padding: 20px;
  font-weight: 700;
}
@media (max-width:500px){
  .about-content .right .text span {
  
    font-size: 27px;
    
  }
  .about-content .right p {
    padding-right: 10px;
  }
}
