footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
	
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
footer .footer-container .right-col{
    width: 30%;


	display: block;
	margin: auto;
}
footer .footer-container .left-col{
    width: 25%;
}
footer .footer-container .left1{
    width: 20%;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 100px;
	color: #fff;
}
footer .social-media{
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .left-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, rgb(11, 237, 11), white);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	/* min-width: 260px; */
	margin-top: 20px;
	color: white;
}

@media (max-width: 785px){
	footer .txtb{
		width: 50px;
	}
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color:black;
	background: linear-gradient(to right, aqua,white);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	/* opacity: .7; */
	transition: 1s;
	border-radius: 40px;
}