* {
  margin: 0;
  padding: 0;
}

/* nav Bar Style  */
.navbarMain {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* position: fixed; */
  position: fixed;
  color: white;
  opacity: 2;
}

.navbar {
background-color: rgb(70, 60, 60);
  /* background-color: rgb(179, 177, 177); */
  box-shadow: 10px 10px 10px rgb(35, 34, 34);
  color: white;
}

.nav-item {
  height: 30px;
  padding: 0 20px 0 20px;
  color: white;
}
.nav-item:hover{
  /* text-shadow: 2px 2px 2px wheat; */
  background: none;
  box-shadow: 0 0 5px rgb(219, 102, 102);
  border-radius: 10px;
  
}

.navBtn {
  width: 97px;
  height: 32px;
  box-shadow: 0 0 10px white;
  background-color: rgb(12, 184, 232);
}
.navBtn:hover{
  background: rgb(238, 118, 118);
 
}

.channel_name {
  text-shadow: 5px 5px 5px white;
  color: rgb(36, 219, 252);
  font-weight: bolder;
}

.heading {
  /* margin-top: 40px; */
  height: 70vh;
  width: 100vw;
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  
}

.heading_data {
  color: black;
  text-transform: capitalize;
}

/* video page style */
.pairvideo {
  display: flex;
  justify-content: center;
  margin: 10px;
  overflow-x: auto;
  background-color: rgb(43, 38, 38);
}

.videoboxall {
  text-align: center;
  width: 200px;
  height: 370px;
  background-color: white;
  /* height: 320px; */
  box-sizing: border-box;
  /* border: 1px solid gray; */
  /* background: rgb(184, 178, 178); */
  margin: 20px;
  /* box-shadow: 10px 10px 0px gray; */

}
.videoboxall:hover{
  border-radius: 20px;
  background-color: rgb(207, 198, 198);
  box-shadow: 10px 10px 10px gray;
}

.advetisement {
  display: flex;
  justify-content: center;
 
}
.ad_img_size{
  text-align: center;
  width: 60vw;
  border: 2px solid black;
  height: 300px;
}
.advertisement_img {
  width: 60vw;
  height: 300px;
}
.box1_para{
font-size: 15px;
font-weight: 700;
}


.Boximg {
  width: 195px;
  height: 200px;
}

.boxbtn {
  text-align: center;
  display: block;
  margin: auto;
}

.h2 {
  text-align: center;
  text-decoration: underline;
}

.box1href {
  text-decoration: none;
}

.box1btn {
  background-color: rgb(144, 144, 207);
  border: 2px solid rgb(144, 144, 207);
  color: white;
  box-shadow: 5px 5px 5px gray;
}



/* home page style  */

.para {
  text-align: center;
}


   /* contact page style start  */

   .Contact_section{
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 30px;
   }

   .contactpara{
    font-size: 26px;
  font-style: oblique;
  font-weight: 900;  
  }


     /* Feedback area style from here  */
     #feedbackarea{
      background-color: blueviolet;
      text-align: center;
      color: white;
     }

 #feedbackarea textarea {
      resize: none;
   }