* {
  margin: 0;
  padding: 0;
}

/* nav Bar Style  */
.navbarMain {
  margin: 0;
  padding: 0;
  width: 100%;
  /* position: fixed; */
  position: fixed;
  color: white;
  opacity: 2;
  z-index: 999;
}

.navbar {
  background-color: rgb(70, 60, 60);
  /* background-color: rgb(179, 177, 177); */
  box-shadow: 10px 10px 10px rgb(35, 34, 34);
  color: white;
}

.nav-item {
  /* display: inline; */
  height: 30px;
  padding: 0 20px 0 20px;
  color: white;
}

.nav-item:hover {
  /* text-shadow: 2px 2px 2px wheat; */
  background: none;
  box-shadow: 0 0 5px rgb(219, 102, 102);
  border-radius: 10px;

}

.navBtn {
  width: 120px;
  height: 32px;
  box-shadow: 0 0 10px white;
  background-color: rgb(12, 184, 232);
}

.navBtn:hover {
  background: rgb(238, 118, 118);
  border-radius: 40px;
  transition: 1s;

}

.channel_name {
  text-shadow: 5px 5px 5px white;
  color: rgb(36, 219, 252);
  font-weight: bolder;
}

.heading {
  /* margin-top: 40px; */
  height: 48vh;
  width: 100vw;
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  background-size:100%;
  text-align: center;

}

.heading_data {
  color: black;
  text-transform: capitalize;
}

/* video page style */


.pairvideo {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  overflow-x: auto;
  background-color: rgb(43, 38, 38);
}
@media (max-width:1600px){
  .pairvideo {
    display: flex;
    justify-content: left;
    margin: 10px;
    width: 100%;
    overflow-x: auto;
    background-color: rgb(43, 38, 38);
  }
}
.videoboxall {
  text-align: center;
  width: 200px;
  height: 370px;
  background-color: white;
  /* height: 320px; */
  box-sizing: border-box;
 
  /* border: 1px solid gray; */
  /* background: rgb(184, 178, 178); */
  margin: 20px;
  /* box-shadow: 10px 10px 0px gray; */

}

.videoboxall:hover {
  border-radius: 20px;
  transform: scale(1.1);
  background-color: rgb(207, 198, 198);
  box-shadow: 10px 10px 10px gray;
  transition: 0.5s;
  
  /* transform: translateZ(50px);
  transform: translateY(-10px); */
}

.advetisement {
  display: flex;
  justify-content: center;

}

.ad_img_size {
  text-align: center;
  width: 60vw;
  border: 2px solid black;
  height: 300px;
}

.advertisement_img {
  width: 60vw;
  height: 300px;
}

.box1_para {
  font-size: 15px;
  font-weight: 700;
}


.Boximg {
  width: 195px;
  height: 200px;
}

.boxbtn {
  text-align: center;
  display: block;
  margin: auto;
}

.h2 {
  text-align: center;
  text-decoration: underline;
}

.box1href {
  text-decoration: none;
}

.box1btn {
  background-color: rgb(144, 144, 207);
  border: 2px solid rgb(144, 144, 207);
  color: white;
  box-shadow: 5px 5px 5px gray;
}



/* home page style  */

.para {
  text-align: center;
}


/* contact page style start  */

.Contact_section {
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 30px;
}

.contactpara {
  font-size: 26px;
  font-style: oblique;
  font-weight: 900;
}


/* Feedback area style from here  */

.title2 {
  position: relative;
  margin-top: -16px;
  margin-left: 35px;
}

.title2 span {
  font-weight: 782;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #2E3D49;
}

.title2 .shortdesc2 {
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #2E3D49;
  margin-bottom: 10px;
  
}
#feedBACK{
  text-align: center;
}
.feedbox {
 
  margin-top: 50px;
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("/b4.jpg");
  background-size: cover;
  padding: 50px 80px;
  background-attachment: fixed;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.textarea{
  resize: none;
}
.feed {
  width: 800px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  position: relative;
  display: block;
  margin: auto;
  justify-content: center;
  box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.6),
    0 0 80px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
 
}

.feed form {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.feed form label {
  position: absolute;
  color: white;
  font-size: 17px;
  font-weight: 800;
}

.feed form input,
.feed textarea {
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #2E3D49;
  background: #fff9;
  font-weight: 600;
}

.feed form input {
  margin-bottom: 12px;
  width: 100%;
}

.feed form .fname {
  width: 100%;
}

.feed form textarea {
  width: 100%;
  height: 100px;
}

.feed #csubmit {
  margin-top: 10px;
  background: linear-gradient(to right, blue, white);
  border-radius: 5px;
  border-style: none;
  outline: none;
  width: 100%;
  padding: 15px 25px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

