<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/aboutpage.css">
    <link rel="stylesheet" href="/css/footer.css">
     <link rel="stylesheet" href="/css/codecss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/channels4_profile.jpg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../templates/views/sourceCode/codecss/style.css">
    {{!-- // Advertisement code --}}

<script&gt; async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9915106184713182"
     crossorigin="anonymous"></script>
    <title>Analog Clock </title>
</head>

<body>
    {{>navbar}}
    <br><br><br><br>
    <h2 style="text-align: center;">HoverBox JavaScript Project Source Code </h2>
    <p style="text-align: center;"> Step-1</p>
    <p style="text-align: center;"> Create a index.html file 
    and add paste the below code in .html file</p>
    <div class="code">
        <pre style="margin-left: 50px;">
        &lt;!DOCTYPE html>
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;link rel="stylesheet" href="style.css"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container" id="container"&gt;&lt;/div&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
     
    </pre>
    </div>

     <p style="text-align: center;"> Step-2</p>
    <p style="text-align: center;"> Create a style.css file 
    and add paste the below code in .css file</p>
    <div class="code">
        <pre style="margin-left: 50px;">
          *{
    box-sizing: border-box;
}
body{
    background: rgb(12, 13, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;

}
.square{
    background: rgb(36, 38, 39);
    box-shadow: 0 0 2px black;
    height: 15px;
    width: 15px;
    margin: 2px;
    transition: 3s ease;

}
.square:hover{
    transition-duration: 0s;
}
        </pre>
        </div>
   
   <p style="text-align: center;"> Step-3</p>
    <p style="text-align: center;"> Create a script.js file 
    and add paste the below code in .js file</p>
    <div class="code">
        <pre style="margin-left: 50px;">
            const container=document.getElementById("container");
const colors=['red','yellow','green','pink','aqua','orange','white','violet'];
const SQUARES=504;
for(let i=0;i<SQUARES;i++){
    const square=document.createElement('div');
    square.classList.add("square");
    container.appendChild(square);
    square.addEventListener("mouseover",()=>setColor(square));
    square.addEventListener("mouseout",()=>removeColor(square));
}

const getRandomColor=()=>colors[Math.floor(Math.random()*colors.length)];

const setColor=(element)=>{
    const color=getRandomColor();
    element.style.background=color;
    element.style.boxShadow=`0 0 2px ${color}, 0 0 10px ${color}`
}

const removeColor=(element)=&gt;{
    element.style.background="rgb(36, 38, 39)";
    element.style.boxShadow="0 0 2px #000"
}
            </pre>
            </div>
    <br><br>
    {{>bottom}}
</body>

</html>