<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/responsive.css">
	 <link rel="stylesheet" href="/css/aboutpage.css">
	 <link rel="stylesheet" href="/css/footer.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="shortcut icon" href="images/channels4_profile.jpg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../templates/views/sourceCode/codecss/style.css">
    <title>Amazing Moving Circle </title>
    <style>
.code{
    width: 80vw;
    max-height: 500px; 
    overflow: auto;
   /* text-align: center; */
   
    display: block;
    margin: auto;
    background-color: rgb(179, 172, 172);
}

    </style>
</head>

<body>
    {{>navbar}}
    <h2>Amazing Moving circle   Project Source Code </h2>
    <p>Step-1</p>
    <p> Create a index.html file </p>
    and add paste the below code in .html file
    <div class="code">
        <pre> 
            &lt;html&gt;
            &lt;head&gt;
           
            &lt;title&gt; Amazing Moving Circle &lt;/title&gt;
                &lt;link rel="stylesheet" href="style.css" &gt;
                &lt;/head&gt;
                &lt;body&gt;
                
              &lt;div class="head"&gt;
                 &lt;div class="circle1"&gt; &lt;/div&gt;
                &lt;div class="circle2"&gt; &lt;/div&gt; 
                   &lt;div class="circle3"&gt; &lt;/div&gt;

                    &lt;/div>
                &lt;/body&gt;
                &lt;/html&gt;
    </pre>
    </div>
    <p>Step-2</p>
    <p> Create a style.css file </p>
    and add paste the below code in .css file
    <div class="code">
        <pre>
         *{
    margin: 0;
    padding: 0;
}
.head{
    margin-top: 150px;
}
.circle1{
    position: absolute;
    width: 200px;
    height: 200px;
background-color: red;
border: 2px solid red;
border-radius: 50%;
align-items: center;
text-align: center;
margin-left:40%;
box-shadow: 10px 10px 20px rgb(253, 245, 0);
animation: brijesh 5s infinite;
}
.circle2{
    position: absolute;
    width: 200px;
    height: 200px;
background-color: blue;
border: 2px solid blue;
border-radius: 50%;
align-items: center;
text-align: center;
margin-left:40%;
box-shadow: 10px 10px 20px rgb(248, 0, 248);
animation: brijesh1 5s infinite;
} 
.circle3{
    position: absolute;
    width: 200px;
    margin-left:40%;
    height: 200px;
background-color: yellow;
border: 2px solid yellow;
border-radius: 50%;
align-items: center;
text-align: center;
box-shadow: 10px 10px 20px rgb(17, 188, 17);
animation: brijesh2 5s infinite;
}

@keyframes brijesh {
    0%{
       margin-left:350px; 
    }
    25%{
        margin-top: -50px;
    }
    50%{
        margin-left: 500px;
    }
    75%{
       margin-top: 80px;
    }
    100%{
        margin-left: 350px;
    }
}
@keyframes brijesh1 {
    0%{
       margin-top: -50px; 
    }
    25%{
        margin-left: 350px;
    }
    50%{
        margin-top: 100px;
    }
    75%{
        margin-left: 500px;
    }
    100%{
        margin-top: -50px;
    }
}
@keyframes brijesh2 {
    0%{
       margin-top: 100px; 
    }
    25%{
        margin-left: 350px;
    }
    50%{
        margin-top: -50px;
    }
    75%{
        margin-left: 500px;
    }
    100%{
        margin-top: 100px;
    }
}
        </pre>
    </div>
  <br><br>
    {{>bottom}}
</body>

</html>